apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: repo-account-network-policy
  namespace: apps
spec:
  podSelector:
    matchLabels:
      app: repo-account
      type: backends
  policyTypes:
    - Ingress
    - Egress

  ingress:
    - {}

  egress:
    - to:
        - podSelector:
            matchLabels:
              cnpg.io/cluster: postgres-cluster
      ports:
        - protocol: TCP
          port: 5432

    - to:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53

    - to:
        - namespaceSelector:
            matchExpressions:
              - key: name
                operator: DoesNotExist
          podSelector:
            matchExpressions:
              - key: name
                operator: DoesNotExist
