apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: capacitor-next
  namespace: flux-system
spec:
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: capacitor-next
    namespace: flux-system
  install:
    createNamespace: true
  values:
    env:
      LICENSE_KEY: "" # populated from secret
      AUTH: noauth
      AUTH_DEBUG: "true"
      IMPERSONATE_SA_RULES: "noauth=flux-system:capacitor-next-preset-clusteradmin"

      SESSION_HASH_KEY: "base64:E3umY2bA87DmllnagrtcT6Uv2Ll6w1oQAY9DUgyUHCE="
      SESSION_BLOCK_KEY: "base64:E3umY2bA87DmllnagrtcT6Uv2Ll6w1oQAY9DUgyUHCE="
      registry.yaml: |
        clusters:
        - id: in-cluster
          name: In-cluster
          apiServerURL: https://kubernetes.default.svc
          certificateAuthorityFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          serviceAccount:
            tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token

    existingSecrets:
      - name: capacitor-next
