kind: ConfigMap
apiVersion: v1
metadata:
  name: qdrant-values
  namespace: qdrant
data:
  values.yaml: |
    replicaCount: 1

    image:
      repository: docker.io/qdrant/qdrant
      pullPolicy: IfNotPresent
      tag: ""
      useUnprivilegedImage: false

    imagePullSecrets: []
    nameOverride: ""
    fullnameOverride: ""
    args: ["./config/initialize.sh"]
    env: {}

    service:
      type: ClusterIP
      additionalLabels: {}
      annotations: {}
      loadBalancerIP: ""
      ports:
        - name: http
          port: 6333
          targetPort: 6333
          protocol: TCP
          checksEnabled: true
          # appProtocol: http
        - name: grpc
          port: 6334
          targetPort: 6334
          protocol: TCP
          checksEnabled: false
          # appProtocol: http2
        - name: p2p
          port: 6335
          targetPort: 6335
          protocol: TCP
          checksEnabled: false

    ingress:
      enabled: true
      ingressClassName: "traefik"
      additionalLabels: {}
      annotations: {}
      hosts:
        - host: qdrant.localhost
          paths:
            - path: /
              pathType: Prefix
              servicePort: 6333
      tls: []

    livenessProbe:
      enabled: false
      initialDelaySeconds: 5
      periodSeconds: 5
      timeoutSeconds: 1
      failureThreshold: 6
      successThreshold: 1

    readinessProbe:
      enabled: true
      initialDelaySeconds: 5
      periodSeconds: 5
      timeoutSeconds: 1
      failureThreshold: 6
      successThreshold: 1

    startupProbe:
      enabled: false
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 1
      failureThreshold: 30
      successThreshold: 1

    additionalLabels: {}
    additionalAnnotations: {}
    podAnnotations: {}
    podLabels: {}

    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi

    containerSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 2000
      allowPrivilegeEscalation: false
      privileged: false
      readOnlyRootFilesystem: true

    podSecurityContext:
      fsGroup: 3000
      fsGroupChangePolicy: Always

    lifecycle:
      preStop:
        exec:
          command: ["sleep", "3"]

    updateVolumeFsOwnership: true

    nodeSelector: {}
    tolerations: []
    affinity: {}

    topologySpreadConstraints: []

    persistence:
      accessModes: ["ReadWriteOnce"]
      size: 10Gi
      annotations: {}
      storageVolumeName: qdrant-storage
      storageClassName: local-path

    snapshotPersistence:
      enabled: false
      accessModes: ["ReadWriteOnce"]
      size: 10Gi
      annotations: {}

    snapshotRestoration:
      enabled: false
      pvcName: snapshots-pvc
      # Must not conflict with /qdrant/snapshots or /qdrant/storage
      mountPath: /qdrant/snapshot-restoration
      snapshots:
      #  - /qdrant/snapshot-restoration/test_collection/test_collection-2022-10-24-13-56-50.snapshot:test_collection

    config:
      cluster:
        enabled: true
        p2p:
          port: 6335
          enable_tls: false
        consensus:
          tick_period_ms: 100

    sidecarContainers: []

    metrics:
      serviceMonitor:
        enabled: false
        additionalLabels: {}
        scrapeInterval: 30s
        scrapeTimeout: 10s
        targetPort: http
        targetPath: "/metrics"
        relabelings: []

    serviceAccount:
      annotations: {}

    priorityClassName: ""

    shareProcessNamespace: false

    podManagementPolicy: Parallel

    podDisruptionBudget:
      enabled: false
      maxUnavailable: 1
      unhealthyPodEvictionPolicy: ""

    additionalVolumes: []

    additionalVolumeMounts: []

    chartTests:
      dbInteraction:
        image: registry.suse.com/bci/bci-base:latest
