---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: datadog
  namespace: datadog
spec:
  interval: 1m
  path: ./k8s/datadog
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system

