apiVersion: v1
kind: ConfigMap
metadata:
  name: srvc-inference-sbert-config
  namespace: apps
data:
  # Application
  LOG_LEVEL: INFO
  API_HOST: "0.0.0.0"
  API_PORT: "8080"
  ENVIRONMENT: production
  # Model
  MODEL_NAME: sbert
  MODEL_URI: "models:/SBERT/1"
  MODEL_SIMILARITY_THRESHOLD: "0.3"
  TOP_N_RECOMMENDATIONS: "10"
  MLFLOW_S3_ENDPOINT_URL: http://minio-new.minio.svc.cluster.local:9000
  MLFLOW_TRACKING_URI: http://mlflow.mlflow.svc.cluster.local:5000
  MLFLOW_HTTP_REQUEST_TIMEOUT: "600" # in seconds
  MLFLOW_HTTP_REQUEST_MAX_RETRIES: "3"
  # Misc
  FEEDBACK_RETENTION_DAYS: "30"
  # Kafka
  KAFKA_BATCH_SIZE: "64"
  KAFKA_BATCH_INTERVAL: "10" # in seconds
  KAFKA_ARTICLE_CONSUMER_GROUP: srvc-inference-sbert-article-group
  KAFKA_FEEDBACK_CONSUMER_GROUP: srvc-inference-sbert-feedback-group
  KAFKA_SESSION_TIMEOUT_MS: "60000" # 60 seconds
  KAFKA_HEARTBEAT_INTERVAL_MS: "10000" # 10 seconds
  KAFKA_MAX_POLL_INTERVAL_MS: "300000" # 5 minutes
  # Redis
  REDIS_SCAN_BATCH_SIZE: "100"
  REDIS_USER_PROFILE_KEY: user:sbert
  # Qdrant
  QDRANT_ARTICLES_COLLECTION: articles_sbert
