---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: srvc-inference-sbert
  namespace: apps
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: srvc-inference-sbert
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80
