apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: postgres
  namespace: postgres
spec:
  interval: 10m
  path: ./k8s/postgres
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: external-secrets
      namespace: flux-system
  healthChecks:
    - apiVersion: apps/v1
      kind: Deployment
      name: postgres-cloudnative-pg
      namespace: postgres
