---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: vault
  namespace: flux-system
spec:
  interval: 10m
  path: ./k8s/vault
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  healthChecks:
  - apiVersion: apps/v1
    kind: StatefulSet
    name: vault
    namespace: vault
  - apiVersion: v1
    kind: Service
    name: vault
    namespace: vault
