[Interface]
Address = {{ wg_server_ip }}
ListenPort = {{ wg_port }}
PrivateKey = {{ wg_private_key }}

# PostUp/PostDown rules for NAT
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ wan_interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ wan_interface }} -j MASQUERADE

{% for client in wg_clients %}
# {{ client.name }}
[Peer]
PublicKey = {{ client.public_key }}
AllowedIPs = {{ client.address }}/32
{% endfor %}
