---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redpanda-console
  namespace: kafka
  labels:
    app: redpanda-console
spec:
  releaseName: redpanda-console
  interval: 10m0s
  chart:
    spec:
      chart: console
      version: v3.1.0
      sourceRef:
        kind: HelmRepository
        name: redpanda
        namespace: kafka
  driftDetection:
    mode: enabled
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 5m0s
  upgrade:
    crds: CreateReplace
    strategy:
      name: RetryOnFailure
      retryInterval: 5m0s
  values:
    autoscaling:
      enabled: false

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app: redpanda-console

    podLabels:
      app: redpanda-console

    priorityClassName: "critical-monitoring"

    config:
      kafka:
        brokers: ["kafka-kafka-bootstrap.kafka.svc:9092"]

    resources:
      limits:
        memory: 512Mi
        cpu: 500m
      requests:
        memory: 256Mi
        cpu: 100m

    ingress:
      enabled: false

    replicaCount: 1
