services:

  # KAFKA SERVICE
  redpanda:
    container_name: redpanda
    image: docker.redpanda.com/redpandadata/redpanda:v23.1.7
    command:
      - redpanda start
      - --smp 1
      - --overprovisioned
      - --kafka-addr PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
      - --advertise-kafka-addr PLAINTEXT://redpanda:29092,OUTSIDE://localhost:9092
      - --pandaproxy-addr 0.0.0.0:8082
      - --advertise-pandaproxy-addr localhost:8082
      - --memory 512M
    ports:
      - 9092:9092
      - 9644:9644
      - 29092:29092
    volumes:
      - redpanda:/var/lib/redpanda/data
    networks:
      - data-net
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M


  console:
    container_name: console
    image: docker.redpanda.com/redpandadata/console:v2.2.3
    entrypoint: /bin/sh
    command: -c "echo \"$$CONSOLE_CONFIG_FILE\" > /tmp/config.yml; /app/console"
    environment:
      CONFIG_FILEPATH: /tmp/config.yml
      CONSOLE_CONFIG_FILE: |
        kafka:
          brokers: ["redpanda:29092"]
          schemaRegistry:
            enabled: true
            urls: ["http://redpanda:8081"]
        redpanda:
          adminApi:
            enabled: true
            urls: ["http://redpanda:9644"]
        connect:
          enabled: true
          clusters:
            - name: local-connect-cluster
              url: http://connect:8083
    ports:
      - 9002:8080
    depends_on:
      - redpanda
    networks:
      - data-net
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 256M
        reservations:
          cpus: '0.1'
          memory: 128M

  # QDRANT SERVICE
  qdrant:
    image: qdrant/qdrant:v1.8.0
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/6333' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - data-net
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

  # POSTGRES SERVICE
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - data-net
    command: >
      bash -c "
        docker-entrypoint.sh postgres 
        -c shared_buffers=128MB 
        -c max_connections=50 
        -c work_mem=4MB 
        -c maintenance_work_mem=64MB 
        -c effective_cache_size=256MB &
      "
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

  # REDIS SERVICES
  redis-master:
    image: redis:alpine
    container_name: redis-master
    hostname: redis-master
    ports:
      - "6379:6379"
    volumes:
      - ./data/master:/data
    command:
      [
        "redis-server",
        "--appendonly",
        "yes",
        "--repl-diskless-load",
        "on-empty-db",
        "--replica-announce-ip",
        "172.21.0.3",
        "--replica-announce-port",
        "6379",
        "--protected-mode",
        "no"
      ]
    networks:
      redis-net:
        ipv4_address: 172.21.0.3

  redis-slave:
    image: redis:alpine
    container_name: redis-slave
    hostname: redis-slave
    depends_on:
      - redis-master
    ports:
      - "6380:6379"
    volumes:
      - ./data/slave1:/data
    command:
      [
        "redis-server",
        "--appendonly",
        "yes",
        "--replicaof",
        "redis-master",
        "6379",
        "--repl-diskless-load",
        "on-empty-db",
        "--replica-announce-ip",
        "172.21.0.4",
        "--replica-announce-port",
        "6380",
        "--protected-mode",
        "no"
      ]
    networks:
      redis-net:
        ipv4_address: 172.21.0.4

  redis-sentinel:
    image: redis:alpine
    container_name: redis-sentinel
    hostname: redis-sentinel
    depends_on:
      - redis-master
    ports:
      - "26379:26379"
    command: >
      sh -c 'echo "bind 0.0.0.0" > /etc/sentinel.conf &&
        echo "sentinel monitor mymaster redis-master 6379 2" >> /etc/sentinel.conf &&
        echo "sentinel resolve-hostnames yes" >> /etc/sentinel.conf &&
        echo "sentinel down-after-milliseconds mymaster 10000" >> /etc/sentinel.conf &&
        echo "sentinel failover-timeout mymaster 10000" >> /etc/sentinel.conf &&
        echo "sentinel parallel-syncs mymaster 1" >> /etc/sentinel.conf &&
        redis-sentinel /etc/sentinel.conf'
    networks:
      redis-data-net: {}
      redis-net:
        ipv4_address: 172.21.0.6

  redisinsight:
    image: redislabs/redisinsight:2.70
    container_name: redisinsight
    ports:
      - "5540:5540"
    networks:
      - redis-data-net

  # APP SERVICES
  repo-account:
    image: ghcr.io/therayquaza/newsbro/repo-account:repo-account-v1.2.7
    build:
      context: ./repo-account
      dockerfile: ../../docker/repo-account.Dockerfile
    container_name: repo-account
    environment:
      DATABASE_HOST: postgres:5432
      PORT: 8081
      KAFKA_BROKER: redpanda:29092
      DATABASE_USERNAME: "username"
      DATABASE_PASSWORD: "password"
      DATABASE_NAME: "account"
      JWT_SECRET: "your-secret-key"
      OIDC_ISSUER_URL: "https://cri.epita.fr"
      OIDC_CLIENT_ID: "125070"
      OIDC_CLIENT_SECRET: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
      OIDC_REDIRECT_URL: "http://localhost:8080/complete/epita/"
      COOKIE_DOMAIN: ""
      LOGIN_REDIRECT_URL: "http://localhost:8080/api/v1/auth/login"
      OIDC_REDIRECT_FRONTEND_URL: "http://localhost:5173"
      ENVIRONMENT: "dev"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: always
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - redpanda
    networks:
      - data-net
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M

  repo-article:
    image: ghcr.io/therayquaza/newsbro/repo-article:repo-article-v1.4.2
    container_name: repo-article
    env_file:
      - repo-article/.env
    environment:
      DATABASE_HOST: postgres:5432
      PORT: 8082
      KAFKA_BROKERS: redpanda:29092
      DATABASE_USERNAME: "username"
      DATABASE_PASSWORD: "password"
      DATABASE_NAME: "article"
      JWT_SECRET: "your-secret-key"
      KAFKA_TOPIC: "new-articles-command"
      KAFKA_GROUP_ID: "repo-article-group"
      ENVIRONMENT: "dev"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8081/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: always
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - redpanda
    networks:
      - data-net
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M

  repo-feed:
    image: ghcr.io/therayquaza/newsbro/repo-feed:repo-feed-v1.1.0
    container_name: repo-feed
    env_file:
      - repo-feed/.env
    environment:
      PORT: 8083
      JWT_SECRET: "your-secret-key"
      KAFKA_GROUP_ID: "repo-feed-group"
      ENVIRONMENT: "dev"
      REDIS_SENTINELS: "redis-sentinel:26379"
      REDIS_MASTER_NAME: "mymaster"
      REDIS_PASSWORD: ""
      REDIS_DB: "0"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8083/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: always
    ports:
      - "8083:8083"
    depends_on:
      - redis-master
      - redpanda
    networks:
      - data-net
      - redis-net
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M

volumes:
  redpanda:
  postgres_data:
  qdrant_storage:


networks:
  data-net:
    driver: bridge
  redis-data-net:
  redis-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/16
