apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: mlflow-network-policy
  namespace: mlflow
spec:
  podSelector:
    matchLabels:
      app: mlflow
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from: # Allow ingress from ingress-nginx-private
        - namespaceSelector:
            matchLabels:
              name: ingress-nginx
          podSelector:
            matchLabels:
              app.kubernetes.io/instance: ingress-nginx-private
      ports:
        - protocol: TCP
          port: 5000 # mlflow service
  egress:
    - to:
        - podSelector:
            matchLabels:
              cnpg.io/cluster: postgres-cluster
          namespaceSelector:
            matchLabels:
              name: postgres
      ports:
        - protocol: TCP
          port: 5432
    - to:
        - podSelector:
            matchLabels:
              app: minio
          namespaceSelector:
            matchLabels:
              name: minio
      ports:
        - protocol: TCP
          port: 9000
        - protocol: TCP
          port: 9001
    - to:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
