apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pull-secret
  namespace: apps
spec:
  refreshInterval: 10m
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: pull-secret
    creationPolicy: Owner
    template:
      type: kubernetes.io/dockerconfigjson
      metadata:
        labels:
          reconcile.fluxcd.io/watch: Enabled
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "ghcr.io": {
                "auth": "{{ .auth | toString }}"
              }
            }
          }
  dataFrom:
    - extract:
        key: docker/ghcr
