---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: vault
  namespace: vault
spec:
  interval: 10m0s
  chart:
    spec:
      chart: vault
      version: 0.30.1
      sourceRef:
        kind: HelmRepository
        name: repo
        namespace: vault
  driftDetection:
    mode: enabled
  upgrade:
    crds: CreateReplace
  values:
    global:
      enabled: true
      namespace: vault
      tlsDisable: true
    injector:
      enabled: false
    server:
      enabled: true
      image:
        repository: hashicorp/vault
        tag: "1.20.1"
        pullPolicy: IfNotPresent

      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: vault

      persistentVolumeClaimRetentionPolicy:
        whenDeleted: Retain
        whenScaled: Retain

      dataStorage:
        enabled: true
        size: 10Gi
        mountPath: /vault/data
        accessMode: ReadWriteOnce

      resources:
        requests:
          memory: 128Mi
          cpu: 200m
        limits:
          memory: 256Mi
          cpu: 300m

      standalone:
        enabled: true
        config: |
          ui = true
          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }
          storage "file" {
            path = "/vault/data"
          }
          telemetry {
            disable_hostname = true
            prometheus_retention_time = "12h"
          }

      priorityClassName: "critical-resilient"

      ingress:
        enabled: false

      annotations:
        ad.datadoghq.com/vault.checks: |
          {
            "vault": {
              "init_config": {},
              "instances": [
                {
                  "api_url": "http://%%host%%:8200/v1",
                }
              ]
            }
          }
        ad.datadoghq.com/vault.logs: |
          [
            {
              "source": "vault",
              "service": "vault"
            }
          ]
      ui:
        enabled: true
        serviceType: ClusterIP
        externalPort: 8200
        targetPort: 8200
