apiVersion: databases.spotahome.com/v1
kind: RedisFailover
metadata:
  name: kv
  namespace: redis
spec:
  sentinel:
    replicas: 3
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 512Mi
    priorityClassName: "critical-resilient"
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            redisfailovers-role: sentinel
            redisfailovers.databases.spotahome.com/name: kv
    securityContext:
      runAsUser: 1004
      runAsGroup: 2004
      runAsNonRoot: true
      fsGroup: 3004
      fsGroupChangePolicy: OnRootMismatch
  redis:
    replicas: 3
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 512Mi
    priorityClassName: "critical-resilient"
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/component: sentinel
            redisfailovers.databases.spotahome.com/name: kv
    securityContext:
      runAsUser: 1004
      runAsGroup: 2004
      runAsNonRoot: true
      fsGroup: 3004
      fsGroupChangePolicy: OnRootMismatch
