---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
  namespace: metallb-system
spec:
  releaseName: metallb
  interval: 10m0s
  chart:
    spec:
      chart: metallb
      version: v0.13.10
      sourceRef:
        kind: HelmRepository
        name: metallb
        namespace: metallb-system
  values:
    controller:
      replicaCount: 1
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
    speaker:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
