apiVersion: v1
kind: ConfigMap
metadata:
  name: repo-feed-config
  namespace: apps
data:
  # Application
  GIN_MODE: release
  PORT: "8080"
  ENVIRONMENT: prod
  # Feed configuration
  DEFAULT_MODEL: tfidf
  AVAILABLE_MODELS: tfidf,sbert
  FEEDBACK_EXPIRATION_SECONDS: "604800" # (7 days)
  ARTICLE_EXPIRATION_SECONDS: "2592000" # (30 days)
  SCORE_EXPIRATION_SECONDS: "604800" # (7 days)
  REDIS_SCORE_KEY: score
  REDIS_FEEDBACK_KEY: feedback
  REDIS_FEED_KEY: feed
  REDIS_ARTICLE_KEY: article
  # Feed rescoring configuration
  FEED_RESCORING_ENABLED: "true"
  FEED_RESCORING_INTERVAL: "1h"
  FEED_RESCORING_BATCH_SIZE: "4096" # number of feed to rescore per batch
  FEED_RESCORING_WORKERS: "10" # number of concurrent workers for rescoring
  FEED_RESCORING_THRESHOLD: "0.3"
  FEED_RESCORING_DECAY_ENABLED: "true" # enable score decay over time
  FEED_RESCORING_DECAY_HALFLIFE: "60h" # (2.5 days)
  # Kafka
  KAFKA_GROUP_ID: repo-feed-group
  # 
  FRONTEND_ORIGIN: https://app.newsbro.cc
