apiVersion: apps/v1
kind: Deployment
metadata:
  name: repo-feed
  namespace: apps
  labels:
    app: repo-feed
    type: backends
    tags.datadoghq.com/env: prod
    tags.datadoghq.com/service: repo-feed
    tags.datadoghq.com/version: v1.2.2
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 2
  selector:
    matchLabels:
      app: repo-feed
  template:
    metadata:
      labels:
        app: repo-feed
        monitoring: "enabled"
        tags.datadoghq.com/env: prod
        tags.datadoghq.com/service: repo-feed
        tags.datadoghq.com/version: v1.2.2
    spec:
      serviceAccountName: apps

      securityContext:
        runAsNonRoot: true
        runAsUser: 1012
        runAsGroup: 2012
        fsGroup: 3012
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

      imagePullSecrets:
        - name: pull-secret

      volumes:
        - name: apmsocketpath
          hostPath:
            path: /var/run/datadog/

      containers:
        - name: repo-feed
          image: ghcr.io/therayquaza/newsbro/repo-feed:repo-feed-v1.2.2
          imagePullPolicy: IfNotPresent

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]

          volumeMounts:
            - name: apmsocketpath
              mountPath: /var/run/datadog

          ports:
            - containerPort: 8080
              name: http

          envFrom:
            - configMapRef:
                name: repo-feed-config
            - configMapRef:
                name: redis-config
            - configMapRef:
                name: kafka-config
            - configMapRef:
                name: oidc-config
            - secretRef:
                name: repo-feed-secrets
            - secretRef:
                name: oidc-secrets

          env:
            - name: DD_ENV
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['tags.datadoghq.com/env']
            - name: DD_SERVICE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['tags.datadoghq.com/service']
            - name: DD_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['tags.datadoghq.com/version']
            - name: DD_PROFILING_ENABLED
              value: "true"
            - name: DD_DATA_STREAMS_ENABLED
              value: "true"
            - name: DD_TRACE_REMOVE_INTEGRATION_SERVICE_NAMES_ENABLED
              value: "true"
            - name: DD_APPSEC_ENABLED
              value: "true"

          resources:
            requests:
              memory: "256Mi"
              cpu: "125m"
            limits:
              memory: "1Gi"
              cpu: "250m"

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
