name: srvc-inference (SBERT)

on:
  push:
    branches: ["**"]
    paths:
      - "apps/srvc-inference/sbert/**"
    tags:
      - "srvc-inference-sbert-v*.*.*"

permissions:
  write-all

jobs:
  srvc-inference-sbert:
    uses: ./.github/workflows/python-svc-workflow.yaml
    with:
      service_name: srvc-inference
      dockerfile: ./docker/srvc-inference.Dockerfile
      context_root: apps/srvc-inference
      model_name: sbert
    secrets:
      GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
